<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div>
    <a mat-button routerLink="/">Flea market</a>
  </div>
  <nav *ngIf="!(user | async) else userMenu">
    <a mat-button routerLink="/register">Register</a>
    <a mat-button routerLink="/login">Sign in</a>
  </nav>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

<ng-template #userMenu>
  <div fxLayout="row"
       fxLayoutAlign="space-between center">
    <a mat-button routerLink="/add">Add new item</a>
    <nav>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </nav>
  </div>
</ng-template>

