<form
  #f="ngForm"
  fxLayout="column"
  autocomplete="off"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field appearance="outline">
    <mat-label>Display Name</mat-label>
    <input
      type="text" name="displayName"
      displayName required matInput ngModel #displayName="ngModel"
    />
    <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
      Name is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="email" name="email" autocomplete="username"
      email required matInput ngModel #email="ngModel"
    />
    <mat-error *ngIf="email.touched && email.hasError('required')">
      Email is required!
    </mat-error>
    <mat-error *ngIf="email.touched && email.hasError('email')">
      Enter correct email!
    </mat-error>
    <mat-error *ngIf="email.touched && email.hasError('serverError')">
      {{ email.getError('serverError') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input
      type="text" name="phone"
      phone required matInput ngModel #phone="ngModel"
    />
    <mat-error *ngIf="phone.touched && phone.hasError('required')">
      Phone is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      type="password" name="password" autocomplete="new-password"
      required matInput ngModel #password="ngModel"
    />
    <mat-error *ngIf="password.touched && password.hasError('required')">
      Password is required!
    </mat-error>
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="f.invalid"
  >
    REGISTER
  </button>
</form>
