<form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input type="text" name="title" required matInput ngModel/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      name="description"
      required
      ngModel
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input type="number" name="price" required matInput ngModel/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Image</mat-label>
    <app-file-input name="image" ngModel></app-file-input>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <input type="text" name="category" required matInput ngModel/>
  </mat-form-field>

  <input type="text" name="user" required matInput ngModel/>

  <div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid || (loading | async)"
    >Post</button>
  </div>
</form>
